<div class="container">
  <div class="content">
      <h1>Play now</h1>
      <% @letters.each do |letter|%>
      <%= letter %>
      <% end %>

      <p>What is the longest word you can find?</p>
      <form action="/score" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="text" name="games" >
        <input type="submit">
      </form>
    </div>
</div>
